/* Basic jQuery Slider essential styles */

ul.bjqs{
	position:relative; 
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden; 
	display:none;
	padding-top:5px

	}
li.bjqs-slide{
	position:absolute; 
	display:none;}

ul.bjqs-controls{
	list-style:none;
	margin:0;
	padding:0;
	z-index:1000;
	float:left;}
	
ul.bjqs-controls.v-centered li a{
	position:absolute;
	}

ul.bjqs-controls.v-centered li.bjqs-next a{
	right:2px;
	color: #EFEFEF;
	}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	left:2px;
	color: #EFEFEF;}

ol.bjqs-markers{list-style: none; 
padding: 0; 
margin: 0; 
width:100%;
color: #EFEFEF;
}

ol.bjqs-markers.h-centered{
	text-align: center;
	color: #EFEFEF;

	}
ol.bjqs-markers li{
	display:inline;

	}
ol.bjqs-markers li a{
	display:inline-block;
	color: #EFEFEF;
}
	
p.bjqs-caption{display:block;
width:100%;
margin:0;
padding:2%;
position:absolute;
bottom:0;
}